@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: #20062E;
}


.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 50%;
}

.navbar
{
    width: 50%;
    margin-top: 20px;
}

 nav {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 25px 5px #1b4972, 0px 0px 120px 50px #1b4972;
    background-color: #1b4972;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


nav a {
    color: rgb(201, 198, 198);
    text-decoration: none;
}

.active {
    color: white;
}

.signup-form,
.login-form,
.create-podcast-form,
.episode-form,
.edit-profile-form,
.change-password-form,
.forgot-password-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 50vw;
}

.signup-form h1,
.login-form h1,
.create-podcast-form h1,
.episode-form h1,
.edit-profile-form h2,
.change-password-form h1,
.forgot-password-form h1 {
    color: white;
}

.signup-form form,
.login-form form,
.create-podcast-form form,
.episode-form form,
.edit-profile-form form,
.change-password-form form,
.forgot-password-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.login-form form p {
    color: white;
    text-decoration: none;
    font-weight: 800;
    cursor: pointer;
}

.signup-form form input,
.login-form form input,
.create-podcast-form form input,
.podcast-data-container input,
.episode-form input,
.edit-profile-form form input,
.change-password-form form input,
.forgot-password-form form input {
    width: 100%;
    background-color: transparent;
    border: 2px solid gray;
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
}

.signup-form form input:focus,
.login-form form input:focus,
.create-podcast-form form input:focus,
.podcast-data-container input:focus,
.episode-form input:focus,
.edit-profile-form form input:focus,
.change-password-form form input:focus,
.forgot-password-form form input:focus {
    outline: 2px solid blueviolet;
    box-shadow: 0px 0px 10px 7px blueviolet;
}


.signup-form form button,
.login-form form button,
.create-podcast-form form button,
.episode-form form button,
.edit-btn,
.edit-profile-form form button,
.change-password-form form button,
.forgot-password-form form button {
    width: 100%;
    background-color: transparent;
    border: 2px solid white;
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s;
}

.signup-form form button:active,
.login-form form button:active,
.create-podcast-form form button:active,
.episode-form form button:active,
.edit-btn:active,
.edit-profile-form form button:active,
.change-password-form form button:active,
.forgot-password-form form button:active {
    transform: scale(0.96);
}

.signup-form form button:hover,
.login-form form button:hover,
.create-podcast-form form button:hover,
.episode-form form button:hover,
.edit-btn:hover,
.edit-profile-form form button:hover,
.change-password-form form button:hover,
.forgot-password-form form button:hover {
    background-color: rgba(255, 255, 255, 0.788);
    color: blueviolet;
}

.create-podcast-form form label,
.episode-form form label,
.signup-form form label,
.edit-profile-form form label {
    width: 100%;
    background-color: transparent;
    border: 3px dashed gray;
    padding: 20px;
    border-radius: 10px;
    color: gray;
    font-size: 20px;
    text-align: center;
    font-weight: 800;
    cursor: pointer;
}

.file-active {
    border: 3px dashed white !important;
    color: white !important;
}


.signup div p {
    color: white;
    text-align: center;
    margin-top: 30px;
    font-weight: 700px;
}

.signup div p b {
    color: blueviolet;
    cursor: pointer;
}


.profile h1 {
    color: white;
}

#logout-btn {
    background-color: #1b4972;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 20px;
    align-self: center;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 50vw;
}

#logout-btn:active {
    transform: scale(0.96);
}

.logout {
    color: white;
    font-weight: 800;
    background-color: red;
}

.podcast-page {
    width: 95%;
}


.podcast-data-container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 60px;
}

.podcast-data-container h1 a {
    text-decoration: none;
    font-size: 18px;
    margin-top: 10px;
    align-items: center;
    cursor: pointer;
    color: blueviolet;
}

.podcast-card-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.podcast-card-container a {
    text-decoration: none;
    color: white;
}

.podcast-wrapper {
    position: relative;
    height: 500px;

}

.podcast-card {
    width: 373px;
    height: 442px;
    border-radius: 20px;
    background: linear-gradient(177.7deg,
            rgba(58, 129, 191, 0.3) 1.63%,
            rgba(65, 48, 90, 0.009) 148.18%);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s;
    cursor: pointer;
    overflow-x: auto;
    margin-top: 40px;
}

.profile-container {
    color: white;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.profile-container h1 {

    width: 373px;
    text-align: center;
}

.profile-card {
    width: 373px;
    height: 442px;
    border-radius: 20px;
    background: linear-gradient(177.7deg,
            rgba(58, 129, 191, 0.3) 1.63%,
            rgba(65, 48, 90, 0.009) 148.18%);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s;
    cursor: pointer;
    overflow-x: auto;
}

.profile-card div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.profile-card div img {
    height: 349px;
    width: 333px;
    border-radius: 15px;
    object-fit: cover;
}

.profile-card::-webkit-scrollbar {
    display: none;
}

.podcast-card::-webkit-scrollbar {
    display: none;
}

.podcast-card:hover {
    transform: scale(1.02);
}

.my-podcast {
    position: absolute;
    right: 125px;
    font-weight: 700;
    color: #8f8296;
}

.podcast-card div img {
    height: 349px;
    width: 333px;
    border-radius: 15px;
    object-fit: cover;
}

.podcast-card div h2 {
    margin-top: 10px;
}

.podcast-details {
    color: white;
    margin-top: 30px;
    width: 95vw;
    text-align: left;
}

.banner-container {
    width: 100%;
    height: 442px;
    background: linear-gradient(177.7deg,
            rgba(58, 129, 191, 0.3) 1.63%,
            rgba(65, 48, 90, 0.009) 148.18%);
    padding: 15px;
    margin-top: 20px;
}

.banner-container img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.podcast-details p {
    margin-top: 30px;
    color: #8f8296;
    font-weight: 700;
    line-height: 30px;
}

.podcast-details-upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.podcast-details-upper button {
    background-color: transparent;
    border: 2px solid white;
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s;
}

.podcast-details-upper button:hover {
    background-color: rgba(255, 255, 255, 0.788);
    color: blueviolet;
}

.podcast-details-upper button:active {
    transform: scale(0.96);
}

.episodes-container {
    color: white;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 70px;
}

.episode {
    display: flex;
    width: 95vw;
    justify-content: space-between;
    align-items: center;

}

.episode div {
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    margin-top: 20px;
}

.episode div p {
    margin-left: 20px;
    color: #8f8296;
    font-weight: 700;
    line-height: 30px;
    width: 80%;
}

.episode button {
    margin-left: 20px;
    width: 150px;
    background-color: transparent;
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s;
}

.episode button:hover {
    background-color: rgba(255, 255, 255, 0.788);
    color: blueviolet;
}

.episode button:active {
    transform: scale(0.96);
}

.download-button {
    background-color: #1b4972 !important;
    border: none !important;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 25px;
    transition: all 0.5s;

}

.download-button:hover {
    background-color: #2e6ea7 !important;
}


.download-button a {
    text-decoration: none;
    color: white;
}

.download-button:active {
    transform: scale(0.96);
}

.audio-container {
    background: linear-gradient(177.7deg,
            rgba(58, 129, 191, 0.3) 1.63%,
            rgba(65, 48, 90, 0.009) 148.18%);
    padding: 8px 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    font-weight: 700;
    display: flex;
    align-items: center;
    z-index: 100;
    justify-content: center;
}

.audio-container img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.audio-flex {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}

.audio-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.duration-range,
.volume-range {
    filter: hue-rotate(25deg);
    width: 80%;
}

.duration-container {
    display: flex;
    align-items: center;
    margin-left: 25px;
    width: 50%;
    justify-content: center;
    gap: 12px;
}

.volume-container {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: 25px;
    width: 20%;
}

.timer {
    width: 60px;
}

.icons {
    cursor: pointer;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #2e6ea7;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.forgot-password-container h1 {
    margin: 0;
}

.hamburger
{
    display: none;
}








@media (max-width: 900px) {

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90vh;
        width: 50%;
    }

    nav {
        display: none;
    }

    .signup-form,
    .login-form,
    .create-podcast-form,
    .episode-form,
    .edit-profile-form,
    .change-password-form,
    .forgot-password-form {
        width: 90vw;
        gap: 30px;
    }

    .banner-container {
        height: 220px;
    }

    .audio-container {
        background: linear-gradient(177.7deg,
                rgba(58, 129, 191, 0.3) 1.63%,
                rgba(65, 48, 90, 0.009) 148.18%);
        padding: 5px;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        color: white;
        font-weight: 700;
        z-index: 100;
    }

    .audio-flex {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .duration-container {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        gap: 12px;
        margin: 0;
        margin-bottom: 5px;
    }

    .volume-container
    {
        display: flex;
        align-items: center;
        width: 100%;
        
        gap: 12px;
    }

    .timer {
        width: 60px;
        text-align: center;
    }

    .duration-range,
    .volume-range {
        filter: hue-rotate(25deg);
        width: 50%;
    }

    .episodes-container {
        margin-bottom: 120px;
    }

    .navbar
    {
        width: 100%;
        margin: 0;
        position: fixed;
        top: 0;
        z-index: 200;
    }

    .hamburger
    {
        display: block;
        width: 100%;  
    }

    .hamburger button
    {
        background: linear-gradient(177.7deg,
        rgba(58, 129, 191, 0.3) 1.63%,
        rgba(65, 48, 90, 0.009) 148.18%);
        box-shadow: 0px 0px 25px 5px #1b4972, 0px 0px 120px 50px #1b4972;
        background-color: #20062E;
        padding: 10px;
        width: 100%;
        
    }
     
    
    
    .MuiList-root
    {
        background-color: #20062E;  
        width: 100vw;
        
    }


    .MuiList-root a
    {
        color: rgb(201, 198, 198);
        font-weight: 800;
        text-decoration: none;
        margin-right: 40px;
        width: 100%;
        text-align: center;
    }

    .active
    {
        color: white !important;
    }

    .podcast-details
    {
        margin-top:  80px;
    }
}